@{
    ViewData["Title"] = "Nera | Home";
    Layout = "~/Views/Shared/Layouts/_LayoutAuth.cshtml";
}

<div class="flex flex-col gap-3 mt-10 xl::mt-0 pb-10">
    <header class="lg:h-[60dvh] flex flex-col lg:flex-row justify-center items-center max-w-7xl mx-auto px-5 lg:px-0">
        <div class="flex flex-col gap-3 relative">
            <span class="cgi-logo w-[50px] h-[50px]"></span>
            <h1 class="text-4xl lg:text-6xl font-bold">Welcome to NERA-CGI</h1>
            <p class="text-sm text-stone-400">
                Your gateway to comprehensive criminal justice information, empowering professionals, researchers,
                and
                the public with reliable data, expert insights, and the latest developments shaping law, policy, and
                reform across the justice system.
            </p>
            <button class="btn-fill-primary w-[150px]">Get Started</button>
        </div>
        <video autoplay muted loop preload="auto" class="w-full">
            <source src="https://brand.cgi.com/galleries/banner/cgi_loop_devicegraphique_hr_x2.mp4" />
        </video>
    </header>
</div>


