<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NERA</title>
    <link rel="icon" type="image/jpeg" href="~/images/icons/title-image.jpg" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="flex flex-col min-h-screen justify-between">
        
        <partial name="~/Views/Shared/Components/_Navbar.cshtml" />
            <main role="main">
                @RenderBody()
            </main>

        <partial name="~/Views/Shared/Components/_Footer.cshtml" />

    </div>


    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/utils/common.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

