<section>
    <div class="h-[35dvh] flex flex-col gap-3 items-center justify-center" style="background: var(--gradient-horizontal);">
        <h1 class="text-white text-4xl font-light">How can we help?</h1>
        <a class="btn-fill-secondary w-max" asp-controller="Home" asp-action="Contact">Contact</a>
    </div>

    <footer class="bg-var(--color-background-light-white) w-full">
        <div class="max-w-7xl mx-auto flex flex-col lg:flex-row gap-5 lg:gap-0">
            <div class="bg-white flex flex-col gap-2 py-2 px-5">
                <img src="~/images/svgs/logo.svg" alt="NERA Logo" class="size-20" height="10" />
                <h1 class="text-lg font-semibold">Insights you can act on</h1>
                <p class="text-stone-400 max-w-[250px] text-sm">
                    Founded in 1976, CGI is among the largest IT and business consulting services firms in the world.
                    We are insights-driven and outcomes-focused to help accelerate returns on your investments.
                </p>
                <button class="flex items-center gap-2 arrow-button py-3">
                    <span>Learn more about CGI</span>
                    <img src="~/images/svgs/black-arrow.svg" alt="Arrow" class="size-4" height="10" />
                </button>
                <p class="text-xs font-semibold">© 2025 CGI Inc.</p>
            </div>

            <div id="footer-links" class="flex flex-col gap-3 lg:flex-row w-full justify-between px-5 lg:p-10 lg:w-[800px]"></div>

            <div class="bg-(--color-background-purple) flex flex-col justify-between gap-3 py-2 pt-5 px-5 lg:w-[300px]">
                <div class="flex flex-col gap-3">
                    <h1 class="text-lg font-semibold">Discover more about CGI</h1>
                    <p class="mt-3 text-sm font-semibold">Keeping you informed</p>
                    <button class="btn-fill-primary w-max">Subscribe</button>
                </div>

                <div class="flex flex-col gap-3">
                    <h1 class="text-lg font-semibold">Follow us</h1>
                    <div class="flex items-center gap-3">
                        <a href="#"><img src="~/images/icons/facebook.svg" alt="Facebook" class="size-5" height="10" /></a>
                        <a href="#"><img src="~/images/icons/twitter.svg" alt="Twitter" class="size-5" height="10" /></a>
                        <a href="#"><img src="~/images/icons/linkedin.svg" alt="LinkedIn" class="size-5" height="10" /></a>
                        <a href="#"><img src="~/images/icons/instagram.svg" alt="Instagram" class="size-5" height="10" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
