.arrow-button {
  transition: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.arrow-button:hover {
  color: var(--color-gradient-end-purple);
}

.btn-fill-primary {
  background: var(--color-gradient-end-purple);
  padding: 10px 20px;
  color: white;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-fill-secondary {
  background: var(--color-background-light-white);
  padding: 10px 20px;
  color: var(--color-gradient-end-purple);
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.cgi-logo {
  background: linear-gradient(white, white) -20px 20px,
    linear-gradient(360deg, #5236ab 0, #e41937 100%);
  background-repeat: no-repeat;
}


.validation-summary {
  background: rgba(229, 62, 62, 0.1);
  color: #dc2626;
  text-align: center;
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
}
