<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NERA</title>
    <link rel="icon" type="image/jpeg" href="~/images/icons/title-image.jpg" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/cards.css" asp-append-version="true" />

</head>

<body>
    <div class="flex flex-col min-h-screen justify-between">
        <partial name="_Navbar" />
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="bg-var(--color-background-light-white) w-full mt-auto">
            <div class="max-w-7xl mx-auto py-5 px-5">
                <div class="flex justify-between items-center">
                    <p class="text-xs font-semibold">
                        © 2025 CGI Inc.
                    </p>
                    <p class="text-sm text-stone-500">Authenticated Dashboard</p>
                </div>
            </div>
        </footer>
    </div>

    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/utils/common.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

