<nav class="sticky top-0 z-50 bg-white border-b-2 border-neutral-200 shadow-xs px-5 lg:px-0">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div class="flex items-center gap-20 relative ">
            <img src="~/images/svgs/logo.svg" alt="NERA Logo" class="size-18" height="10" />
            <ul class="flex items-center gap-3 hidden lg:flex nav-links">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
            </ul>
        </div>
        <ul class="flex items-center gap-1 nav-links">
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <span class="h-13 w-[2px] bg-black"></span>
            <li class="flex items-center gap-3">
                <img src="~/images/icons/world.png" alt="Profile" class="size-5" height="10" />
                <span>Global</span>
            </li>
            <span class="h-13 w-[2px] bg-black"></span>
            <li><a href="#">En</a></li>
        </ul>
    </div>
</nav>



