@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/components.css");

:root {
  /* Primary Colors from Image */
  --heading-color: #200a58;
  --color-gradient-start-red: #e02b40; /* Vibrant red on the left */
  --color-gradient-end-purple: #5236ab; /* Deep purple on the right */
  --color-background-purple: #ece9f6;
  --color-text-white: #ffffff;
  --color-background-light-white: #efefef; /* White for main text and button background */

  /* Gradient Variables */
  --gradient-horizontal: linear-gradient(
    to right,
    var(--color-gradient-start-red),
    var(--color-gradient-end-purple)
  );
  --gradient-vertical: linear-gradient(
    to bottom,
    var(--color-gradient-start-red),
    var(--color-gradient-end-purple)
  );
  --gradient-diagonal: linear-gradient(
    135deg,
    var(--color-gradient-start-red),
    var(--color-gradient-end-purple)
  );
}

/* Main Site Styles */
.font-source-code-pro {
  font-family: "Source Code Pro", Arial, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;

}

/* Import organized CSS files */

a {
  cursor: pointer;
}
nav {
  font-family: "Source Code Pro", Arial, sans-serif;
}

nav .nav-links li {
  position: relative;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0 16px;
  height: 100%;
}

nav .nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--heading-color);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

nav .nav-links li:hover::after {
  opacity: 1;
}


.input{
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 10px 25px;
  outline: none;
  border-radius: 40px;
}