@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NERA</h1>
    <p class="lead">NEXT Event Registration Application</p>
    <p>Manage and register for CGI NEXT community events with ease.</p>
</div>
